@model DrankenDenHaasWebApp.Multimedia_ProductsViewModel

@{
  //  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Multimedia_Products</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MultimediaId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MultimediaId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Productnaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Productnaam)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
