@model IEnumerable<DrankenDenHaasWebApp.PaymentViewModel>

@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumVanBetaling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedragBetaald)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaartnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestelId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVanBetaling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedragBetaald)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaartnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestelId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BetalingsId }) |
                @Html.ActionLink("Details", "Details", new { id=item.BetalingsId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BetalingsId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
