@model DrankenDenHaasWebApp.DebitcardViewModel

@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Debitcard</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KaartNaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KaartNaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Kaartnummer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kaartnummer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DatumGeldigTot)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DatumGeldigTot)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Primairekaart)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Primairekaart)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BetaalkaartId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
